@charset "utf-8";
h2{
    margin: 10px;
    text-align: center;
}

#app{
    margin: 50px auto;
    border:solid #444;
    width: 600px;
}

.display p{
    width:91%;
    word-wrap: break-word;
    text-align: right;
    margin:20px;
}

.button-wrapper{
    display: flex;
}

.column-wrapper{
    display:flex;
    flex-direction: column;
}

.button-wrapper button{
    background-color: #444;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin:5px;
}